.players-container {
  display: flex;
  flex-direction: column;

  .players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .player {
      width: 45%;
    }
  }

  .btn-battle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial";
    font-size: 16px;
    height: 3rem;
    width: 15rem;
    margin: 48px auto 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    color: #e6e6e6;
    background: #141414;
  }
}
