.instructions-container {
  text-align: center;
  margin: 5rem auto;

  .instructions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;

    li {
      flex: 1;
    }

    svg {
      padding: 3rem;
      border-radius: 3px;
      background-color: #ebebeb;
    }
  }
}
