.player-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .player-label {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 20px;
  }

  .player-inputs {
    padding-top: 10px;
    // width: 50%;
    display: flex;
    flex-direction: row;

    .input {
      padding: 8px;
      font-size: 16px;
      flex: 2;
      border-radius: 3px;
      border: none;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);

      &::-webkit-input-placeholder {
        font-size: 14px;
      }

      &::-moz-placeholder {
        font-size: 14px;
      }

      &:-ms-input-placeholder {
        font-size: 14px;
      }

      &::-ms-input-placeholder {
        font-size: 14px;
      }

      &::placeholder {
        font-size: 14px;
      }
    }

    .btn {
      flex: 1;
      margin: 0 35px 0 15px;
      padding: 12px 10px;
      text-transform: uppercase;
      letter-spacing: .2rem;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
    }

    .btn-dark {
      color: #e6e6e6;
      background: #141414;
    }

    .btn-dark:disabled {
      background: #f2f2f2;
      color: #c7c7c7;
    }
  }
}
