.App {
  /* text-align: center; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

html, body {
  width: 100%;
  height: 100%
}

.dark {
  color: #dadada;
  background-color: #1c2022;
  min-height: 100%
}
